/* ---- GENERALES ----- */

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: black;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    font-weight: 500;
}

h2 {
    font-size: 3.5rem;
}


h3 {
    font-size: 2.75rem;
    font-weight: 400;
}

h4 {
    font-size: 1.75rem;
    font-weight: 300;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.75em;
}

p {
    text-align: justify;
    font-weight: 200;
}

.f100 {
    font-weight: 100;
}

.f300 {
    font-weight: 300;
}


.f500 {
    font-weight: 500;
}



.f700 {
    font-weight: 700;
}


main {
padding-top: 62px
}

.total {
  padding-top: 1.25rem;
  font-weight: 400;
  font-size: 1.25rem;
}


.error {
    color: #FF0000;
    text-align: left;
    padding-bottom: 1rem;
}

.btn {
    border-radius: 0;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1rem;
    border: none;
    background-color: inherit;

}


.btn-fnegro {
    border: 1px solid white;
    background-color: inherit;
    color: white;
}

.btn-fnegro:hover {
    border: none;
    background-color: white;
    color: black;
}

.btn-famarilloblanco{
    color: white;
    background-color: black;
}

.btn-famarilloblanco:hover {
    background-color: inherit;
    color: black;
    border: 1px black solid;
    font-weight: bold;
}


.limaazul{
  background: linear-gradient(#a8ff78, #78ffd6);
  }

.purpink{
background: linear-gradient(#7f00ff, #e100ff);
}

.purporange {
  background: linear-gradient(#833ab4, #fd1d1d, #fcb045);
}

.bg-black {
    background-color: black;
}
.productopuntual {
  width: 100%;
}
.card-producto {
    border: 0px;
    max-width: 150px;
    display: flex;
    justify-content: center;

}




  .card-img-top {
    align-self: center;
    margin: 0 auto;
    text-align: center;

    }

.subtitulocards h5  {
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  padding-top: 0.5rem;

}

.h-95 {
    height: 95% !important;
}


.table {
  margin-bottom: 0px;
  width: 100%;
  }

.subtituloproducto {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px grey solid;
}

.modal-footer
{ justify-content: space-between;
}

label h5  {
  text-transform: uppercase;
  }

  .subtituloppal {
    font-size: 1.25rem;
    padding-bottom: 0px;
      }
.table td, .table th{
padding-left: 0.75rem;
padding-right: 0.75rem;
padding-bottom: 0rem;
padding-top: 0rem;
border: none;

}


.table td{
font-weight: 400;
text-transform: uppercase;
font-size: 0.75rem;
text-align: left;
}

.table th{
font-weight: 300;
font-size: 0.75rem;
text-align: left;
}

.detalle {
  padding-top: 1rem;
  padding-bottom: 1rem;
}


/* ---- TIPOS DE FLEX GENERALES  ----- */
/* ---- TIPOS DE FLEX GENERALES  ----- */

.gris {
    color: rgba(246,246,246);
}
/* ---- FIN DE GENERALES ----- */

/* Header - USA CLASES DE BOOTSTRAP*/

header {
    font-size: 0.8em;
}

.navbar {
    background-color: black ;
    padding: 1em 0 !important;
    color: white;
}



.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10PX;
}

.navbar-brand img {
    width:140px;
}

.navbar-nav {
    padding-left: 20px;
}

.navbar-nav:hover {
    padding-left: 20px;
}

.navbar-toggler  {
    border: none !important;
    outline: none !important;
}

header span i  {
    font-size: 1.5em;
    color: black;
}


.nav-item a i  {
    font-size: 1.5em;
}

.nav-item:hover {
    font-weight: bolder;
}


/* ----------- FULLSLIDER HOME ------------ */
.carousel-item {
  height: 95vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: none;

}

.carousel-caption {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    right: 5%;
    left: 5%;

}



.carousel-caption p{
    align-self: flex-start;
}

.carousel-caption h2{
    align-self: flex-start;
}
.fullslider {
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fsfaqs {
    background: url(../images/pattern1blanco.png) no-repeat fixed right;
    background-color:#0D19A3;
}

#fsnosotros {
    background: url(../images/pattern1.png) no-repeat fixed center;
    background-color:#24FCC4;
}


#fscontacto {
    background: url(../images/pattern1blanco.png) no-repeat fixed center;
    background-color: black;
}





.divtitulo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10%;
    text-align: left;
    text-transform: uppercase;
}

.divtitulo h4 {
    align-self: flex-start;
    font-weight: 200;
}

.divtitulo h1 {
    align-self: flex-start;
    text-align: left;
}

/* ----------- SECTION:NFILO ------------ */

.textoindex {
    width: 80%;
}
.textoindex p{
    text-align: justify;
}

.imagendefondoindexcob {
    background-image: url(../images/portadacob.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 500px;
}

.imagendefondoindexlacoste {
    background-image: url(../images/lacoste.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 500px;
}


.imagendefondoindexsuarez

{
    background-image: url(../images/tristansuarez.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 500px;
}


/* ----------- SECTION:NFILO  ------------ */


/* ----------- SECTION:NPRODUCTS ------------ */




.containerproducto {
  max-width: 70%;
  margin-bottom: 5rem;
  margin-top: 8rem;
  min-height: 95vh;
  margin-left: none;
  margin-right: none;
}

.carousel {
  width: 100%;

  }
/* ----------- SECTION:NPRODUCTS - RESPONSIVE CARDS ------------ */

/* ----------- SECTION:NPRODUCTS - FILTROS ------------ */

.card-body {
    font-weight: 300;
}

.card-body ul {
padding-left: 0px;
}



.cart-item {
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid grey;
}


.descargaft {
  font-size: 0.75rem;
  background-color: yellow;
}



/* ----------- SECTION:NPRODUCTS - RESPONSIVE CARDS ------------ */


.card:hover {

      animation-duration: 0.25s;
       box-shadow: 0 0 3px rgba(33,33,33,.2);
    }

/* Fin SECTION: NPRODUCTS */
.containergrid {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr;
    height: 100vh;
}

.bajarmas {
  padding-top: 3rem;

}

.letrablanca {
color: white;
  }

.containerfooter {
width: 80%;
margin: 0 auto;
padding-top: 2rem;
padding-bottom: 2rem;
}


.containerfooter li {
font-weight: 250;
}

.colfoot {
align-items: flex-start;
}

.nproducts .titular{
    display: flex;
    align-items: flex-start;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 7.5%;
}

#logofooter {
  display: flex;
   justify-content: center;
   align-items: center;
   height: 100px;
  }


  #logofooter img {
 max-width: 200px;
 align-self: center;
    }

.nproducts {
    height: 100vh;
}



#imgempotrables {
    background-image: url(../images/fedrogrilla.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#imgapliques {
    background-image: url(../images/crollgrilla.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
#imgproyectores {
    background-image: url(../images/urogrilla.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.subtitulo {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    position: absolute;
    bottom: 0px;
    font-size: 2rem;
    align-self: center;
    text-align: right;
    padding-right: 10px;
    z-index: 99;
}




/* =====================================
perfil de usuario AS - 09.07.2019
==================================== */

.avatar {
    height: 250px;
    width: 250px;
    background: url(../images/perfil.png) no-repeat fixed center;
    background-size: cover;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    border: 1px solid grey;
    margin: 0 auto;
    margin-top: 100px;

}

.bloque{
    background-color: #842eda;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.interlineado{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid grey;
}


.bloque h5{
    font-size:  1.2rem;
    color: white;
}

.mediosdepago {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;

}

.tarjeta {
    width: 100%;
    border-bottom: 1px dotted grey;
    background-color: white;
    height: 100%;
    text-align: center;
}
/*--------------fin de perfil de usuario----*/

/* ----------- PROXIMAMENTE------------ */




/* ----------- SECTION:FOOTER----------- */

footer {
  background-color: black;
  color: white;


  }


/* ----------- SECTION:FOOTER----------- */
/* ----------- SECTION:PRODUCTO---------- */


/* Useful Classes */

.row {
display: flex;
align-items: center;
    }





.form-check {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}


@media (min-width: 768px) {
    /* ----------- SECTION:FULLSLIDERTABLET----------- */
    .fullslider {
        justify-content: flex-start;
        border: none;
    }
    /* ----------- SECTION:FULLSLIDERTABLET----------- */

    /* ----------- SECTION:NPRODUCTSTABLET----------- */
    .containergrid {
            display: grid;
            width: 70%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 2px;
            grid-template-rows: 1fr;
            height: 600px;
    }

    .nproducts .titular {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }



    .col1 {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .col2 {
    margin-top: 0px;
    margin-bottom: 0px;
    }

    .col3 {
    margin-top: 0px;
    margin-bottom: 0px;
    }
    /* ----------- SECTION:NPRODUCTSTABLET----------- */


    /* ----------- SECTION:FOOTERTABLET----------- */
}
    /* ----------- DISPOSITIVOSMOBILE  ------------ */
@media (min-width: 992px) {
    /* ----------- SECTION:FULLSLIDERDESKTOP ------------ */
    /* ----------- SECTION:FULLSLIDERDESKTOP ------------ */
    /* ----------- SECTION:NFILODESKTOP ------------ */

    .textoindex {
        width: 100%;

    }
    .padding15izq5der {
        padding-left: 15%;
        padding-right: 5%;
    }

    .padding15der5izq {
        padding-right: 15%;
        padding-left: 5%;
    }

    .textonindex h4 {
        color: rgba(200, 200, 200);
    }
    /* ----------- SECTION:NFILODESKTOP  ------------ */
    /* ----------- SECTION:NPRDOUCDESKTOP  ------------ */

}
/*  AP 09.07.2019 .... ESTILOS FORMULARIOS */
        /*
        .formularios {
        width: 100%;
        background: url(../images/armar.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        height: 100vh;
        } */

.threed:hover{
    box-shadow:
    1px 1px black,
    2px 2px black,
    3px 3px black;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

.threed-blanco:hover{
    box-shadow:
    1px 1px white,
    2px 2px white,
    3px 3px white;
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
}


.containerregistro {
  padding-top:  5rem;
    width: 100%;
    margin-left: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    justify-content: center;
}


.containerregistro h3 {
  background-color: yellow;
}

.containerregistro h5 {
  color: white;
  text-decoration: underline;
  padding-top: 2rem;
}

.containeringreso {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
}

/* Mini estilos para el backend */

.containerbackend {
  padding: 3rem 0;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.containerbackend h2 { margin-bottom: 2rem; }

.containerbackend .
 { margin-bottom: .5rem; }



.titulocarrito {
text-align: left;
width: 100%;
margin-bottom: 1rem;
}

  #headercarro {
    margin-bottom: 2rem;

}


.formssmall {
    width: 80%;

}

@media (min-width: 992px) {
.formssmall {
  width: 40%;
 }
}


.formssmall h2  {
    text-transform: uppercase;
    weight: 200;
    align-self: flex-start;
    padding-bottom: 2rem;
}

.threed input[type="text"],
.threed input[type="password"],
.threed input[type="email"],
.threed input[type="number"],
.threed select {
    width: 100%;
    background-color: transparent;
    border: none;
}

.threed-blanco input[type="text"],
.threed-blanco input[type="password"],
.threed-blanco input[type="email"],
.threed-blanco input[type="number"],
.threed-blanco select {
    font-size: 1rem;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    border: none;
}





#recuerdame {
    font-weight: 500;
}

.divformu span {

}


.icon {
    min-width: 40px;
    color: black;
    text-align: center;
}
a.link {
    text-decoration: none;
}


.contenedor_ap button {
    margin-top: 15px;
}

@media (min-width: 768px) {
    .formulario_ap {
        width: 100%;
    }
}


    /* ----------- SECTION:PERFIL  ------------ */

.hero {
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  height: 30vh;
}

.form-control {
    width: 100%;
    height: calc(1.5em + 1.875rem + 2px);
    padding: 0.9375rem 0.9375rem;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border-radius: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
}


.form-control-light {
    border: 1px solid white;

}

.nav-tabs .nav-item.show .nav-link, .nav-tabs {
  margin-top: 0.5rem;
  text-transform: uppercase;
  border: none;
  background-color: black;
  width: 100%;
  font-size: 1rem;
  font-weight: 200;
  color: white;
}



.nav-item {
  flex-grow: 1;
}

.perfil nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  }

  .nav-tabs .nav-link {
      border: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color:#D3D3D3;



}

#productos3 {
    height:100vh;
}

.coverfondo

{   background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    background-color: black;
    }


.hoverlightbg:hover {
    background-color: rgba(255,255,255,0.1) ;
}

.card, .card-header{
    background-color: inherit;
    border: none;
    background-clip: border-box;
    border-radius: 0rem;
}

.card-header:hover {
    background-color: #24FCC4;
    color: black;
    cursor: pointer;
}

.card-header:active{
    background-color: #24FCC4;
    color: black;
    cursor: pointer;
}

#containerbackend {
  padding-top: 8rem;
  }


.subtitleheaderAdmin:hover {
    background-color: grey;
    }


.titleHeaderAdmin {
    font-size: 1.1rem;
    font-weight: 600;
    }

    .subtitleheaderAdmin {
        font-weight: 400;
        line-height: 80%;
        font-size: 1rem;
        }


        .titlesectionindex {
            font-size: 3rem;
            font-weight: 500;
            padding-left: 3rem;
            padding-right: 3rem;
            margin-bottom: 5rem;
        }

        .titlesectionindex2 {
     height: 25vh;
     text-transform: uppercase;
        }


        .container-section-2-index {
          padding: 5rem;
          background: url(../images/pattern1.png) no-repeat fixed center;

}

.col-section-2-index {
height: 100vh;
display: flex;
align-items: flex-end;

}


.col1:hover {
  transform: translateY(-1rem);
  transition-timing-function: ease-in;
  transition: 0.3s;
}
.col2:hover {
  transform: translateY(-1rem);
  transition-timing-function: ease-in;
  transition: 0.3s;


}

.col3:hover {
    transform: translateY(-1rem);
  transition-timing-function: ease-in;
  transition: 0.3s;
}


.col-section-2-index {
   border: 5px white solid;

}

@media (min-width: 1200px) {
    /* ----------- SECTION:FULLSLIDERTABLET----------- */


    .col-section-2-index {
      border: none;
      margin-left: 2rem;
      margin-right: 2rem;

    }

    .col1 {

    }

    .col2 {
margin-top: 30rem;
    }

    .col3 {
    margin-top: -20rem;
    }
    /* ----------- SECTION:NPRODUCTSTABLET----------- */
    .col1:hover {
      box-shadow:
        1rem 1rem black;
      transform: translateY(-5rem);
      transition-timing-function: ease-in;
      transition: 0.3s;
    }
    .col2:hover {
      box-shadow:
      1rem 1rem black;
      transform: translateY(-5rem);
      transition-timing-function: ease-in;
      transition: 0.3s;


    }

    .col3:hover {
      box-shadow:
      -1rem 1rem black;
      transform: translateY(-5rem);
      transition-timing-function: ease-in;
      transition: 0.3s;
    }

    .titlesectionindex2 {
      display: flex;
      justify-content: flex-end;
      margin-right: 5rem;
      text-align: right;
    }


    /* ----------- SECTION:FOOTERTABLET----------- */
}
