/* ---- GENERALES ----- */

*{
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    border: none;
    color: #333;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    font-weight: 500;
}

h2 {
    font-size: 3.5rem;
}


h3 {
    font-size: 2.75rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.75em;
}

p {
    text-align: justify;
}

bold {
    font-weight: 700 !important;

    }
/* ---- TIPOS DE FLEX GENERALES  ----- */
/* ---- TIPOS DE FLEX GENERALES  ----- */

.flex_cen_cen_full {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    flex-direction: column;
}

.white {
    color: white;
}

.turquesa {
    color: #33CC99;
}

.fondogrisclaro {
    background-color:  rgba(246,246,246);
}

.gris {
    color: rgba(246,246,246);
}

/* ---- FIN DE GENERALES ----- */

/* Header - USA CLASES DE BOOTSTRAP*/

header {
    font-size: 0.8em;
}

.navbar {
    background-color: rgba(255, 255, 255, .6) ;
    padding: 1em 0 !important;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10PX;
}

.navbar-brand img {
    width:140px;
}

.navbar-nav {
    padding-left: 20px;
}

.navbar-toggler  {
    border: none !important;
    outline: none !important;
}

header span i  {
    font-size: 1.5em;
    color: black;
}

header span i:hover  {
    color: #33CC99; /* FUNCIONA A MEDIAS */
}

.nav-item a i  {
    font-size: 1.5em;
}

.nav-item a i:hover  {
    color: #33CC99;
}

/* ESTOS SON LOS BOTONES Y TODAVIA NO LOS DEPURAMOS  */
#btn_can{
    background-color: tomato;
    color: white;
}
#btn_can:hover{
    background-color: #282C34;
    color: tomato;
}
.btn_form {
    border: none;
    width: 100%;
    color:#fff;
    font-size: 1rem;
    background-color: #33CC99;
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    font-family: "Poppins", "sans-serif";
}

.btn_form:hover{
    background-color: #282C34;
    color: #33CC99;
}
/* ESTOS SON LOS BOTONES Y TODAVIA NO LOS DEPURAMOS  */


/* ----------- FULLSLIDER HOME ------------ */

.fullslider {
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fshome {
    background: url(../images/banner.jpeg) no-repeat fixed center;
}

#fsproductos {
    background: url(../images/pattern1.png) no-repeat fixed center;
    background-color: #33CC99;
}

#fsfaqs {
    background: url(../images/pattern1.png) no-repeat fixed center;
    background-color:#FCADA5;
}

#fsnosotros {
    background: url(../images/pattern1.png) no-repeat fixed center;
    background-color:rgba(246,246,246);
}


#fscontacto {
    background: url(../images/pattern1blanco.png) no-repeat fixed center;
    background-color: rgba(40, 44, 52);
}





.divtitulo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10%;
    text-align: left;
    text-transform: uppercase;
}

.divtitulo h4 {
    align-self: flex-start;
    font-weight: 200;
}

.divtitulo h1 {
    align-self: flex-start;
    text-align: left;
}

/* ----------- SECTION:NFILO ------------ */

#fondogrisclaro {
    background-color:  rgba(210, 210, 210, 0.2) ;
}

.textonfilonhistorias {
    padding: 10%;
}

.textonfilonhistorias p{
    text-align: justify;
}

.flex_cen_cen_full div {
    height: 100%;
}

.flex_cen_cen_full div img {
    width: 100%;
}

.nfilonhistorias .btn_form {
    width: 40%;
    height: 50px;
    text-transform: uppercase;
}

/* ----------- SECTION:NFILO  ------------ */


/* ----------- SECTION:NPRODUCTS ------------ */

}
.listado_productos {
    display: grid;
    grid-template-columns: 50% 50%;
}
.producto {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    background-color: #ffffff;
}
.producto img {
    max-width: 50%;
}
.producto .txt-producto{
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}
.txt-producto h3 {
    font-size: .9rem;
    line-height: 1.5;
}
.txt-producto span {
    color: #db008d;
}
/* Fin SECTION: NPRODUCTS */
.containergrid {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-rows: 1fr, 1fr, 1fr;
    height: 100vh;
}


.nproducts .titular{
    display: flex;
    align-items: flex-start;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.nproducts {
    margin-bottom: 2rem;
}
.titular .btn_form {
    display:none;
}
#txticons, #txtnumbers, #txtabc {
    display: none;
}

#imgnumbers {
    background-image: url(../images/babuinonumbers.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#imgicons {
    background-image: url(../images/babuinoicons.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
#imgabc {
    background-image: url(../images/babuinabcdario.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
#faqs_1 {
    background-image: url(../images/faqs_1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
#faqs_2{
    background-image: url(../images/faqs_2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
#faqs_3{
    background-image: url(../images/faqs_3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.subtitulo {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    position: absolute;
    bottom: 0px;
    font-size: 2rem;
    align-self: center;
    text-align: right;
    padding-right: 10px;
    z-index: 99;
}

.vermas {
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 100;
}

.vermas:hover {
    width: 100%;
    height: 100%;
    background-color: rgba(40, 44, 52);
    color:rgba(255, 255, 255);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.5rem;
    transition: 0.4s;
    text-shadow: 2px 2px 2px #33CC99;
}

/* ----------- SECTION:NHISTORIAS----------- */
/* ------------ SECTION FAQS BENEFICIOS------ */
.beneficios-list{
    margin-top: 100px;
    padding: 1rem;
    background-color:rgba(210, 210, 210, 0.2);
    margin: 0 auto;
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: repeat(4,1fr);
}

.beneficio_1{
    grid-area: 1 / 1 / 2/ 3;
}

.beneficio_2{
    grid-area: 2 / 2 / 3 / 4;
}

.beneficio_3{
    grid-area: 3/ 1 / 4 / 3;
}

.beneficio_4{
    grid-area: 4 / 2 / 5 / 4;
}
/*  ----------------------------------------- */
#fondogrisoscuro {
    background-color: rgba(40, 44, 52);
}


#textohistorias {
    padding-right: 20%;
    padding-left: 10%;
}
/* =====================================
perfil de usuario AS - 09.07.2019
==================================== */

.usuario {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #E6E6E6;
    background-color: grey;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 20px;
    background-color: #E6E6E6;
    border-radius: 15px;
}

.usuarioarriba {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;


}

.avatar {
    height: 250px;
    width: 250px;
    background: url(../images/perfil.png) no-repeat fixed center;
    background-size: cover;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    border: 1px solid grey;
    margin: 0 auto;
    margin-top: 100px;

}


.usuarioabajo{
    margin-top: 10px;
    background-color: white;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.bloque{
    background-color: #842eda;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.interlineado{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid grey;
}


.bloque h5{
    font-size:  1.2rem;
    color: white;
}

.mediosdepago {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;

}

.tarjeta {
    width: 100%;
    border-bottom: 1px dotted grey;
    background-color: white;
    height: 100%;
    text-align: center;
}
/*--------------fin de perfil de usuario----*/

/* ----------- PROXIMAMENTE------------ */

.proximo {
    display: flex;
    background: url(../images/edita.jpeg) no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    background-position: center;
    min-width: 300px;
    margin-bottom: 2rem;
    padding: 2rem;
}




/* ----------- SECTION:FOOTER----------- */


#footer {
    background: #33FFCC;
    flex-direction: column;

}

.flexspacebetweenfooter {
    display: flex;
    flex-direction: column;
    background-color: rgba(247,247,247);
    flex: 3;
    color: rgba(41,41,41);
}

.flexstart {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex: 1;
}


.partefooter {
    border: 1px solid white;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.flexstart img {
    padding-left: 2rem;
    padding-right: 2rem;
}


/* ----------- SECTION:FOOTER----------- */
/* ----------- SECTION:PRODUCTO---------- */


.preview {
    width: 25%;
}


/* Useful Classes */

.containerproducto {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding-top: 5%;
}

.galeriaproducto {
    width: 100%;
}

.xy-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.r-3-2 {
    width: 100%;
    padding-bottom: 80%;

    background-color: #ddd;
}

.image-holder {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Main Styles */
.gallery-wrapper {
    position: relative;
    overflow: hidden;
}

.gallery {
    position: relative;
    white-space: nowrap;
    font-size: 0;
}

.item-wrapper {
    cursor: pointer;
    width: 25%; /* arbitrary value */
    display: inline-block;
    background-color: white;
    border: 3px solid white;
}

.gallery-item { opacity: 0.5; }
.gallery-item.active { opacity: 1; }

.controls {
    font-size: 0;
    border-top: none;
}
.move-btn {
    display: inline-block;
    width: 50%;
    border: none;
    color: #ccc;
    background-color: transparent;
    padding: 0.2em 1.5em;
}
.move-btn:first-child {border-right: none;}
.move-btn.left  { cursor: w-resize; }
.move-btn.right { cursor: e-resize; }


.textoproducto {
    width: 100%;
    padding: 50px;

}

.precioytitulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.titulo {
    flex-grow: 2;
}

.titulo h3 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.titulo h4 {
    color: grey;
    font-size: 1.4rem;
}

.precio {
    flex-grow: 1;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.descripcionprod {
    padding-top: 40px;

}

.tablaelecciones {
    width: 100%;
    padding-top: 2%;
    padding-top: 2%;
}

.tituloyaleatorio {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.elegiizq {
    flex-grow: 2;

}

.elegiizq h4{
    flex-grow: 2;
    font-size: 1.3rem;

}

.aleatorio{
    flex-grow: 1;
    text-align: right;

}

.colores   {
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.color {
    height: 50px;
    width: 100%;
    padding: 5px;
    font-size: 1.4em;
}

.color .select select {
    width: 100%;
    border-radius: 1px;
    background-color: rgba(210, 210, 210, .8);
}

.custom-control-label {
    font-size: 1.2rem;

}

.comprar {
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
}
@media (min-width: 768px) {
    /* ----------- SECTION:FULLSLIDERTABLET----------- */
    .fullslider {
        justify-content: flex-start;
    }
    /* ----------- SECTION:FULLSLIDERTABLET----------- */

    /* ----------- SECTION:NPRODUCTSTABLET----------- */
    .containergrid {
        display: grid;
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2px;
        grid-template-rows: repeat 1fr, 1fr, 1fr;
        height: 600px;
    }

    .nproducts .titular {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .titular .btn_form {
        width: 20%;
        height: 50px;
        text-transform: uppercase;
        flex-grow: 0.5;
    }

    #txticons, #txtnumbers, #txtabc {
        display: flex;
        padding: 10%;
        text-align: justify;
        align-items: center;
        flex-direction: column;
        background-color: rgba(210, 210, 210, 0.2);
        background-image: url(../images/lineas.png);
    }

    .color {
        flex-direction: row;

    }

    /* ----------- SECTION:NPRODUCTSTABLET----------- */


    /* ----------- SECTION:FOOTERTABLET----------- */


    #footer {
        background: #33FFCC;
        flex-direction: row;

    }

    .flexspacebetweenfooter {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex: 3;
    }

    .partefooter {
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }


    .flexstart img {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .comprar {
        width: 30%;
        margin: 0 auto;
    }
    .colores   {
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
    /* ----------- DISPOSITIVOSMOBILE  ------------ */
@media (min-width: 992px) {
    /* ----------- SECTION:FULLSLIDERDESKTOP ------------ */
    /* ----------- SECTION:FULLSLIDERDESKTOP ------------ */
    /* ----------- SECTION:NFILODESKTOP ------------ */
    .flex_cen_cen_full {
        flex-direction: row;
    }
    .flex_cen_cen_full div{
        width: 100%;
    }
    .textonfilonhistorias {
        padding-left: 20%;
    }
    .textonfilonhistorias h4 {
        color: rgba(200, 200, 200);
        weight: 100;
    }
    /* ----------- SECTION:NFILODESKTOP  ------------ */
    /* ----------- SECTION:NPRDOUCDESKTOP  ------------ */
    .containergrid {
            display: grid;
            width: 70%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 2px;
            grid-template-rows: repeat (3, 1fr);
            height: 600px;
    }
        .titular .btn_form {
            flex-grow: 0;
        }
        #txtnumbers {
            order: 4;
        }
        #txticons {
            order: 2;
        }
        #imgicons, #faqs_2{
            order: 5;
        }
        #imgabc, #faqs_3{
            order: 3;
        }
        #txtabc{
            order: 6;
        }
}
/*  AP 09.07.2019 .... ESTILOS FORMULARIOS */
        /*
        .formularios {
        width: 100%;
        background: url(../images/armar.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        height: 100vh;
        } */
.threed:hover{
    box-shadow:
    1px 1px #53a7ea,
    2px 2px #53a7ea,
    3px 3px #53a7ea;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

.formulario_ap {
    background: #E6E6E6;
    padding:1rem;
    margin-right: 2rem;
}

.contenedor_ap {
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto;
}


.formulario_ap h4 {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


input[type="text"], input[type="password"] {
    background-color: #E6E6E6;
    font-size: 1rem;
    width: 80%;
    padding:10px;
    border: none;
}

.input_contenedor_ap {
    margin-bottom:1.4rem;
    border: solid 0.1rem #aaa;
}
.icon {
    min-width: 40px;
    color: #999;
    text-align: center;
}
.btn_form {
    border: none;
    width: 100%;
    color:#fff;
    font-size: 1.4rem;
    background-color: aquamarine;
    padding: 15px 20px;
    border-radius: 15px;
    cursor: pointer;
}
form p {
    text-align: center;
}
a.link {
    font-weight: 600;
    text-decoration: none;
}
@media (min-width: 768px) {
    .formulario_ap {
        width: 100%;
    }
}
/* ----------- SECTION:NPRDOUCDESKTOP  ------------ */
/* ================ aldana pruebas ================= */
h3.tienda {
    font-size: 7rem;
}
.titulo_producto {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}
.listado_productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.producto {
    flex-basis:200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color:rgba(255, 255, 255, .8);
    border:solid 0.6px;
    border-radius: 5%;
}
.producto img {
    max-width: 320px;
    border-radius: 5%;
}
.img_producto {
    margin-bottom: 1rem;

}
.btn_producto {
    color:#fff;
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
    text-transform: uppercase;
    background-color: #33CC99;


}
@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}
.boton:hover {
    cursor: pointer;
}
.txt-producto{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.txt-producto .precio {
    font-weight: bolder;
    color: red;
    font-size: 1.4rem;
}

    .usuario {
        flex-direction: column;
        width: 70%;

    }
    .mediosdepago {
        flex-direction: row;
    }

    .tarjeta {
        border-right: 1px dotted grey;
        border-bottom: 0px;
    }
    .tarjeta:nth-last-child() {
        width: 100%;
        border-right: 1px dotted grey;
        background-color: blue;
        height: 100%;
        text-align: center;
    }
}

}
