/* proyectointegrador */
*{
  box-sizing: border-box;
}
ul, ol{
  padding: 0;
}
li {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;

}
/* Generales */

body {
/* imagen de los monitos background-image: url(../images/bg-body.jpg); */
  font-family: 'Poppins', sans-serif;
  border: none;
  color: #333;
}

p {
  font-size: 1rem;
  color: #666;
  font-weight: 50;

}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  color: #999;
  font-weight: 10;
}



.btn_form {
    border: none;
    width: 100%;
    color:#fff;
    font-size: 1rem;
    background-color: #33CC99;
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.btn_form:hover{
    background-color: #282C34;
    color: #33CC99;

  }


/* Cabeza*/

.main-header2 {
 height: 80px;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 background-color: white;
 position: fixed;
 z-index: 9999;
 top: 0;
 border-bottom: 1px solid grey;
 font-size: 0.8em;
}


.seccionmenulogo {
  display: flex;
  width:100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.seccionmenulogo img {
  height: 60%;
}

.main {
  display: flex;
  align-items: center;
  width:100%;
}

.main-nav {
  display: none;
}


.hamburguesa {
  width: 100%;
  font-size: 1.2em;
  padding-left: 20px;
}

.hamburguesa img {
  width: 10px;
  height: 10px;
  background-color: tomato;
}

.seccionmenuizq {
  display: flex;
  width:100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  }

.seccionmenuizq div {
  padding-right: 20px;
  padding-left: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.seccionmenuizq div a i {
 font-size: 1.2em;
}

.seccionmenuizq div a i:hover {
 color: #FF9966;
}

#registrologin {
  background-color: #33CC99;
  color: white;
  text-align: center;
  }

#registrologin:hover {
  background-color: #282C34;
  color: #33CC99;
  font-weight: 900;
}



/* Menu*/




/* Menu*/



/* Banner */

.fullslider{
  background: url(../images/banner.jpeg); /* no-repeat fixed center; */
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100% ;
  top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;
   color: white;
}

.text h3, h1 {
   margin-bottom: 0;
   margin-top: 0,
}

.text h3 {
   font-weight: 100;
}



/* Nuestros proyectos */

.nuestrafilosofia {
  display:flex;
  width:100%;
  height:100vh;
  flex-direction: column;
  }

/* Esta es el texto de la izquierda */
.parte1 {
       display:flex;
       width: 100%;
       height: 50%;
       justify-content: center;
       align-items: center;
   }



.textoparte1 {
  width:80%;
  height: 80%;
  overflow: hidden;
}

   .parte1 h3{
margin-bottom: 0;

     }
  .parte1 h4{
margin-top: 0;

     }

.nuestrafilosofia .parte1  {
 background-color:
  }

  .nuestrafilosofia .parte1 p {
   padding-top: 10px;
   padding-bottom: 10px;
    }

/*Nuestras lineas*/

.nuestraslineas {
  height: 500px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background-color: pink;
}

.nuestraslineasFAQS2 {
  margin: 0 auto;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
}

.nuestraslineasFAQS2 p{
  text-align: justify;
}
.linea1 {
  width: 100%;
  height: 100%;
  display: flex;
}

.nuestraslineasFAQS {
  height: 100%;
  width: 70%;
  margin-top: 90px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background-color: #E6E6E6;
}


.lineaFAQS {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}


.lineaFAQS h4 {
 color: black;
 text-align: center;
}

.lineaFAQS p {
 text-align: justify;
 padding: 10px;
}

.lineaFAQS img {
  width: 100%;
}
.lineatexto {
  background-color: blue;
  border: 1px solid white;
  width:  100%;
  height:  100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
 }

 .lineatexto2 {
   background-color: orange;
   border: 1px solid white;
   width:  100%;
   height:  100%;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   text-align: justify;
   padding: 30px;
   font-size: 1.5rem;
   font-weight: 100;
   height: 50%;
   line-height: 80%;
  }

 .lineatexto img {
   height: 100%;
 }

 .lineatexto2{
  display:none;
  }

  .botonblanco {
    height: 40px;
    background-color: white;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    }

  .botonblanco h5 {
  position: relative;
  font-size: 1.2em;;
  right: 15px;
  }


/*Nuestros proyectos*/
#Coloresinvertidos {
  background-color:#282C34;
}

#Coloresinvertidos .textoparte1 {
}


#Coloresinvertidos h3 {
  color: white;
  text-transform: uppercase;
}

#Coloresinvertidos h4 {
  color: #33CC99;
  text-transform: uppercase;
}

#Coloresinvertidos p {
  color: #E6E6E6;
}


#Mateo {
  background-image: url(../images/mateo.jpeg);
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    background-size: cover;
    background-color: white;

}

#Mateo img {
height: 100%;
}


#gifbabuino {
display: flex;
align-items: baseline;

}


#gifbabuino img {
  height:100%;

}

#numbers {
  background-image: url(../images/babuinonumbers.png);
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    background-size: cover;
}

#icons {
  background-image: url(../images/babuinoicons.png);
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    background-size: cover;

}

#letters {
  background-image: url(../images/babuinoletters.png);
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    background-size: cover;

}

.botonblanco:hover {
  background-color: black;
  color: white;
}

/*footer*/
/* =====================================
        lOGUIN AS - 09.07.2019
    ==================================== */

.usuario {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #E6E6E6;
  background-color: grey;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 20px;
  background-color: #E6E6E6;
  border-radius: 15px;
}

.usuarioarriba {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;


}

.avatar {
    height: 250px;
    width: 250px;
    background-image: url(images\user.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    border: 1px solid grey;
    margin: 0 auto;
    margin-top: 100px;

}


.usuarioabajo{
  margin-top: 10px;
  background-color: white;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.bloque{
  background-color: #33CC99;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.interlineado{
  height: 50px;
  width: 100%;
  border-bottom: 1px solid grey;
}


.bloque h5{
  font-size:  1.2rem;
  color: white;
}

.mediosdepago {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;

}

.tarjeta {
  width: 100%;
  border-bottom: 1px dotted grey;
  background-color: white;
  height: 100%;
  text-align: center;
}

/*  AP 09.07.2019 .... ESTILOS FORMULARIOS */
/*
  .formularios {
    width: 100%;
    background: url(../images/armar.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 100vh;
} */
.formularios {
      background: url(../images/login.jpeg);
      background-position: center;
      background-size: cover;
      max-width: 100%;
      min-width: 300px;;
      margin-bottom: 2rem;
      padding: 2rem;
  }
  .contenedor_ap {
      width: 80%;
      padding: 1rem;
      margin: 0 auto;
  }

   .formulario_ap h2 {
      text-align: center;
      margin: 0;
    }

  .formulario_ap {
      background: #E6E6E6;
      width: 100%;
      padding-top: 80px;

}

.icon {
    min-width: 40px;
    color: #999;
    text-align: center;

}

form p {
    text-align: center;
}
a.link {
    font-weight: 600;
    text-decoration: none;
}


.input_contenedor_ap {
    padding: 10px;
    margin-bottom:1.4rem;
    border: solid 0.1rem #aaa;
}

footer {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #E6E6E6;
  margin-top: 10px;
  }

  .footerparte {
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    padding-left: 100px;
  }

  .algo {
    width: 100%;
    text-align: left;
    margin-left: 20px;
  }

  .footerparte img {
    width: 90%;
  }


  .footerparte i {
    font-size: 1.5rem;
}


  .footerparte:nth-child(3) {
    background-color: #33CC99;
  }

  .footerparte:nth-child(2) {
    display: none;
  }




@media (min-width: 600px) {

  .nuestraslineasFAQS {
    flex-direction: row;
  }


  .lineaFAQS {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: 0px;
    border-bottom: 0px;
    }




  footer {
    display:flex;
    justify-content: center;
    flex-direction: row;
      }

      .footerparte:nth-child(2) {
        display: flex;
      }


  .usuario {
    flex-direction: column;
    width: 70%;

  }
  .mediosdepago {
    flex-direction: row;
  }

  .tarjeta {
    border-right: 1px dotted grey;
    border-bottom: 0px;
  }


    .tarjeta:nth-last-child() {
      width: 100%;
      border-right: 1px dotted grey;
      background-color: blue;
      height: 100%;
      text-align: center;
    }

}

/*formulario de logueo*/
.logueo{
    align-items: center;
    width: 80%;
    margin-bottom: 3px;
    margin-left: 10%;
    margin: 0 auto;
    margin-top: 100px;
}

.logueo form {
    border: 3px solid #f1f1f1;

}

input[type=text], input[type=password], input[type=email]{
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  background-color: #E6E6E6;
  font-size: 1rem;
  padding:10px;
  border: none;

}

.logueo button {
  background-color: #33CC99;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.logueo button:hover{
  opacity: 0.8;
}
.boton-cancelado {
   width: auto;
   background-color: red;
}

@media (min-width: 600px) {

    .logueo{
        align-items: center;
        width: 80%;
        margin-bottom: 3px;
    }



/*footer*/
/* =====================================
        HEADER ESTILOS AP - 09.07.2019
    ==================================== */
.main_footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:#E6E6E6;
}
.social_footer_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.social_footer_1 a {
    display: inline-block;
    text-decoration: none;
    color: #282C34;
}
.social_footer_1 a i {
    font-size: 2rem;
    margin: 1rem;
}

.txt_footer {
    margin-top: 0;
    text-align: center;

}
.img-footer {
    margin-top: 1.8rem;
    max-width: 45%;

}



@media (min-width:321px) and (max-width:800px) {

  .main-nav {
    display: none;
  }


  .main_footer {
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color:#E6E6E6;
  }
  .social_footer_1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

  }
  .social_footer_1 a {
      display: inline-block;
      text-decoration: none;
      color: #282C34;
  }
  .social_footer_1 a i {
      font-size: 2rem;
      margin: 1rem;
  }

  .txt_footer {
      margin-top: 0;
      text-align: center;

  }
  .img-footer {
      margin-top: 1.8rem;
      max-width: 45%;
  }  }



@media (min-width: 801px) {

/*Nav*/

.hamburguesa {
  display:none;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;

}


.main-nav ul {
  width:100%;
  display: flex;
  align-items: center;
}

.main-nav ul li {
  text-align: center;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.main-nav ul li a:hover {
  color:  #FF9966 ;
  font-weight: 900;
}

.fullslider {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.text {
  justify-content: flex-start;
  text-align: left;
  padding: 10%;
}



.nuestrafilosofia {
  display:flex;
  width:100%;
  height:400px;
  flex-direction: row;
  justify-content: flex-start;
}
  .parte1 {
   display:flex;
   width:50vw;
   height: 100%;

   }
   .main-footer{
     background-color:  #33CC99;
     display: flex;
   }

   .footer1 {
    display:flex;
    width:33vw;
    border: 1px solid white;
    }



    .nuestraslineas {
      display: flex;
      flex-direction: row;
      background-color: pink;
    }


    .linea {
      border: 1px solid white;
      width: 100%;
      height: 100%;
      display:flex;
      flex-direction: column;

    }

    .lineatexto {
      height: 50%;
    }

      .lineatexto2 {
        background-color: #E6E6E6;
        border: 1px solid white;
        width:  100%;
        height:  100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-align: justify;
        padding: 30px;
        font-size: 1.2rem;
        font-weight: 100;
        height: 50%;
        line-height: 80%;
       }


       .main_footer {
           flex-direction: row;
           align-content: center;
           justify-content: space-between;
           background-color:#E6E6E6;
           flex-wrap: wrap;
       }
       .social_footer_1{
           flex-basis: 100%;
           margin: 0 auto;
           flex-direction: row;
           justify-content: center;


       }
       .social_footer_1a {
           display: inline;
           text-decoration: none;
           color: #282C34;

       }
       .social_footer_1 a i {
           font-size: 2rem;
           margin: 1rem;
       }

       .txt_footer {
           text-align: left;
           margin-left: 2rem;

       }
       .img-footer {
           padding:0;
           margin-top: 1.8rem;
           text-align: right;



  }


  .icon {
      min-width: 40px;
      color: #999;
      text-align: center;
  }


  form p {
      text-align: center;
  }
  a.link {
      font-weight: 600;
      text-decoration: none;
  }

  @media (min-width: 768px) {
      .formulario_ap {
          margin: auto;
          width: 500px;

          border-radius: 15px;

      }

      /* Vamos con los estilos FAQS */
      .contenedor_preg {
          background-color:#d3f6f3;
          max-width: 1200px;
          height: auto;
          margin: 0 auto;
          display: grid;
          grid-template-rows: 50% 50%;
          grid-template-columns: repeat(3,33%);
          grid-gap: 1rem;

      }
      .contenedor_preg h4{
          color: black;
          text-align: center;
      }
      .preguntas img {
          max-width: 90%;
          margin: 0 auto;
      }

      .beneficios-list {
          background-color:#fcfdd8;
          margin: 0 auto;
          max-width: 1200px;
          height: auto;
          display: grid;
          grid-template-columns: 33% 33% 33%;
         grid-template-rows: repeat(4,1fr);



      }
      .beneficio_1{
      grid-area: 1 / 1 / 2/ 3;
      }

      .beneficio_2{
          grid-area: 2 / 2 / 3 / 4;
      }

      .beneficio_3{
          grid-area: 3/ 1 / 4 / 3;
      }

      .beneficio_4{
          grid-area: 4 / 2 / 5 / 4;
