/* proyectointegrador
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }


COLOR TURQUESA> #33CC99

*/



/* ---- GENERALES ----- */

*{
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    border: none;
    color: #333;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3.5rem;
}


h3 {
  font-size: 2.75rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75em;
}

/* ---- TIPOS DE FLEX GENERALES  ----- */

.flex_cen_cen_full {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    flex-direction: column;
}

.white {
    color: white;
}

.turquesa {
    color: #33CC99;
}
/* ---- FIN DE GENERALES ----- */

/* Header - USA CLASES DE BOOTSTRAP*/

header {
    font-size: 0.8em;
}

 .navbar {
    background-color: rgba(255, 255, 255, .8) ;
    padding: 1em 0 !important;
 }

 .navbar-brand {
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     top: 10PX;
 }

 .navbar-brand img {
    width:140px;
 }

 .navbar-nav {
   padding-left: 20px;
 }

 .navbar-toggler  {
    border: none !important;
    outline: none !important;
 }

header span i  {
    font-size: 1.5em;
    color: black;
 }

header span i:hover  {
    color: #33CC99; /* FUNCIONA A MEDIAS */
}

.nav-item a i  {
    font-size: 1.5em;
}

.nav-item a i:hover  {
    color: #33CC99;
}

/* ESTOS SON LOS BOTONES Y TODAVIA NO LOS DEPURAMOS  */

.btn_form {
    border: none;
    width: 100%;
    color:#fff;
    font-size: 1rem;
    background-color: #33CC99;
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.btn_form:hover{
    background-color: #282C34;
    color: #33CC99;

  }
  /* ESTOS SON LOS BOTONES Y TODAVIA NO LOS DEPURAMOS  */


  /* ----------- FULLSLIDER HOME ------------ */

.fullslider {
  background: url(../images/banner.jpeg); /* no-repeat fixed center; */
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullslider div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10%;
    text-align: left;
    text-transform: uppercase;
    color: white;
}

.fullslider div h3 {
    align-self: flex-start;
}

/* ----------- SECTION:NFILO ------------ */

#fondogrisclaro {
    background-color:  rgba(210, 210, 210, 0.2) ;
}

.textonfilonhistorias {
    padding: 10%;
}

.textonfilonhistorias p{
    text-align: justify;
}

.flex_cen_cen_full div {
    height: 100%;
}

.flex_cen_cen_full div img {
    width: 100%;
}

.nfilonhistorias .btn_form {
    width: 40%;
    height: 50px;
    text-transform: uppercase;
}

/* ----------- SECTION:NFILO  ------------ */


/* ----------- SECTION:NPRODUCTS ------------ */
.fullslider-productos {
        background: url(../images/nuestrafilosofia.jpeg); /* no-repeat fixed center; */
        background-size: cover;
        background-position: center center;
        height: 60vh;
        min-height: 150px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;


        }
.fullslider-productos h3 {
    padding-top: 15rem;
    margin-left: 2rem;
    font-size: 4rem;
    color: #fff;

}
/* Fin SECTION: NPRODUCTS */


.containergrid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1;
    grid-gap: 10px;
    grid-template-rows: repeat (3, 1fr);
    height: 100vh;
}


.nproducts .titular{
    display: flex;
    align-items: flex-start;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.nproducts {
    margin-bottom: 2rem;
}

.titular button {
    display:none;
}

#txticons, #txtnumbers, #txtabc {
    display: none;
}

#imgnumbers {
    background-image: url(../images/babuinonumbers.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#imgicons {
    background-image: url(../images/babuinoicons.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#imgabc {
    background-image: url(../images/babuinabcdario.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
#faqs {
    background-image: url(../images/faqs_1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
#faqs_1{
    background-image: url(../images/faqs_1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.subtitulo {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    position: absolute;
    bottom: 0px;
    font-size: 2rem;
    align-self: center;
    text-align: right;
    padding-right: 10px;
    z-index: 99;
}

.vermas {
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 100;
}

.vermas:hover {
    width: 100%;
    height: 100%;
    background-color: rgba(40, 44, 52);
    color:rgba(255, 255, 255);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.5rem;
    transition: 0.4s;
    text-shadow: 2px 2px 2px #33CC99;
}

/* ----------- SECTION:NHISTORIAS----------- */


/* ------------ SECTION FAQS BENEFICIOS------ */

.beneficios-list{
margin-top: 100px;
padding: 1rem;
background-color:rgba(210, 210, 210, 0.2);
margin: 0 auto;
width: 70%;
height: auto;
display: grid;
grid-template-columns: 30% 30% 30%;
grid-template-rows: repeat(4,1fr)
}

.beneficio_1{
    grid-area: 1 / 1 / 2/ 3;
    }

    .beneficio_2{
        grid-area: 2 / 2 / 3 / 4;
    }

    .beneficio_3{
        grid-area: 3/ 1 / 4 / 3;
    }

    .beneficio_4{
        grid-area: 4 / 2 / 5 / 4;
    }
/*  ----------------------------------------- */

#fondogrisoscuro {
    background-color: rgba(40, 44, 52);
}


#textohistorias {
    padding-right: 20%;
    padding-left: 10%;
}









@media (min-width: 768px) {
/* ----------- SECTION:FULLSLIDERTABLET----------- */

.fullslider {
    justify-content: flex-start;
}

/* ----------- SECTION:FULLSLIDERTABLET----------- */

/* ----------- SECTION:NPRODUCTSTABLET----------- */
.containergrid {
    display: grid;
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    grid-template-rows: repeat 1fr, 1fr, 1fr;
    height: 600px;
}

.nproducts .titular {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titular .btn_form {
    width: 20%;
    height: 50px;
    text-transform: uppercase;
    flex-grow: 0.5;
}

#txticons, #txtnumbers, #txtabc {
    display: flex;
    padding: 10%;
    text-align: justify;
    align-items: center;
    flex-direction: column;
    background-color: rgba(210, 210, 210, 0.2);
    background-image: url(../images/lineas.png);
}

/* ----------- SECTION:NPRODUCTSTABLET----------- */
}



/* ----------- DISPOSITIVOSMOBILE  ------------ */

@media (min-width: 992px) {
/* ----------- SECTION:FULLSLIDERDESKTOP ------------ */


/* ----------- SECTION:FULLSLIDERDESKTOP ------------ */

/* ----------- SECTION:NFILODESKTOP ------------ */
.flex_cen_cen_full {
    flex-direction: row;
}

.flex_cen_cen_full div{
    width: 100%;
}

.textonfilonhistorias {
    padding-left: 20%;
}

.textonfilonhistorias h4 {
    color: rgba(200, 200, 200);
    /* weight: 100; */
}

/* ----------- SECTION:NFILODESKTOP  ------------ */

/* ----------- SECTION:NPRDOUCDESKTOP  ------------ */

.containergrid {
    display: grid;
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
    grid-template-rows: repeat (3, 1fr);
    height: 600px;
}

.titular .btn_form {
    flex-grow: 0;
}


#txtnumbers {
    order: 4;
}

#txticons {
    order: 2;
}

#imgicons{
    order: 5;
}

#imgabc{
    order: 3;
}

#txtabc{
    order: 6;
}

/* ----------- SECTION:NPRDOUCDESKTOP  ------------ */
}
/* ================ aldana pruebas ================= */
h3.tienda {
    font-size: 7rem;
}
.titulo_producto {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}
.listado_productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.producto {
    flex-basis:200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color:rgba(255, 255, 255, .8);
    border:solid 0.6px;
    border-radius: 5%;
}
.producto img {
    max-width: 320px;
    border-radius: 5%;
}
.img_producto {
    margin-bottom: 1rem;

}
.btn_producto {
        color:#fff;
        text-decoration: none;
        font-size: 1.2rem;
        display: inline-block;
        text-align: center;
        border: none;
        display: block;
        text-transform: uppercase;
        background-color: #33CC99;


    }
    @media (min-width: 768px) {
        .boton {
            display: inline-block;
            flex: 0 0 auto;
        }
    }
    .boton:hover {
        cursor: pointer;
    }
.txt-producto{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.txt-producto .precio {
    font-weight: bolder;
    color: red;
    font-size: 1.4rem;
}
