<?php

const DB_HOST = 'localhost';
const DB_NAME = 'ecommerce';
const DB_USER = 'root';
const DB_PASS = '';

const APP_DIR = __DIR__ . '/../../' ;
const APERTURAS_IMG_DIR = APP_DIR . '/data/aperturas/';
const APERTURAS_IMG_PATH = 'data/aperturas/';

?>
