<?php

const DB_HOST = 'SERVIDOR';
const DB_NAME = 'BASEDATOS';
const DB_USER = 'USUARIO';
const DB_PASS = 'CONTRASEÑA';

const APP_DIR = __DIR__ . '/../../' ;
const APERTURAS_IMG_DIR = APP_DIR . '/data/aperturas/';
const APERTURAS_IMG_PATH = 'data/aperturas/';

?>
